html,
body {
    margin: 0px;
    background-color: rgb(34, 99, 34);
    color: white;
}

.mainTitle {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 20px;
}

.cards {
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px
}

#computer-cards,
#player-cards {
    height: 240px;
}